body {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-align: center;
    font-size: small;
}

table {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffcd;
    border: 1px solid blue;
    border-collapse: collapse;
    text-align: left;
}

table, td {
    border: 1px solid blue;
}

.label {
    width: 40%;
}

.center {
    text-align: center;
}

#thong_bao {
    font-weight: bold;
    color: red;
    visibility: hidden;
}